ion-content{
  // --ion-background-color:  url(../../../assets/images/LoginPrototype.png) no-repeat;
}

.button-first{
  margin-top: 10vh;
}
.button{
  margin-bottom: 2vh;
}
.title{
  margin-top: 30vh;
  font-family: 'Biryani', "Oriya Sangam MN";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 59px;
}

.subtitle{
  margin-top: 5vh;
  font-family: 'Biryani', "Oriya Sangam MN";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
