<ion-content class="ion-align-items-center  ion-justify-content-center ion-text-center ion-align-self-center">



  <div class="title">Hi!</div>
  <div class="subtitle">welcome</div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          shape="round"
          size="large"
          color="primary"
          (click)="onClickArrow()"
          class="button button-first">

          <ion-icon
            slot="icon-only"
            size="small"
            name="logo-google"></ion-icon>
          <ion-icon
            size="small"
            slot="icon-only"
            name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          shape="round"
          size="large"
          color="dark"
          (click)="onClickEmailArrow()"
          class="button">
          <ion-icon
            size="small"
            slot="icon-only"
            name="logo-apple"></ion-icon>
          <ion-icon
            size="small"
            slot="icon-only"
            name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
