<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="onBackUrl()" default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>list-item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ng-container *ngIf="descriptionCards.length === 0">
      <ion-row class="ion-justify-content-center">
        <ion-col size="11" >
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title > <ion-icon name="sad-outline" size="large"></ion-icon></ion-card-title>
              <ion-card-subtitle>add an image so it doesn't look so lonely </ion-card-subtitle>
            </ion-card-header>
            <div class="ion-text-center">
              <ion-button fill="clear" [routerLink]="['']">
                + <ion-icon name="images-outline" ></ion-icon>
              </ion-button>
              <ion-button fill="clear" [routerLink]="['/camera']">
                +<ion-icon name="camera-outline" ></ion-icon>
              </ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>

    <ion-row>


      <ion-col size="6" *ngFor="let card of descriptionCards">
        <ion-card>
          <ion-img  alt="input image" [src]="card.source"></ion-img>
          <ion-card-header>
            <ion-card-title>{{card.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{card.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
